.form-control {
    font-size: 1.2rem;
    line-height: 2.2;
}
label {
    font-size: 1.2rem;
}
.btn-large {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    line-height: 2;
}
.btn .spinner-border {
    position: relative;
    top:5px;
}
.qrcode-box {
    position: relative;
}
.qrcode-box img {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}
.qrcode-box .btn-download-qrcode {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}