{% extends '/body.html' %}
{% block content %}
    <div class="container main-wrapper">
        <div class="my-5">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th scope="col">Cloak Link</th>
                    <th scope="col">Http Code</th>
                    <th scope="col">Original Link</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in urls" :key="index" v-cloak>
                    <td>${item.public_id}</td>
                    <td><a :href="item.cloak_url" target="_blank">${item.cloak_url}</a></td>
                    <td>301</td>
                    <td><a :href="item.destination_link" target="_blank">${item.destination_link}</a></td>
                    <td><span class="pointer d-none" @click="handleClickOpenEditURLModal(item)"><i class="fa-solid fa-pen"></i></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p-modal-url :com-props="modalURLProps"></p-modal-url>
    <script type="module">


        const {createApp, ref, onMounted, OnErrorCaptured} = Vue;
        import PInput from '{{ url_for('static', filename='js/components/p-input.js') }}';
        import PButton from '{{ url_for('static', filename='js/components/p-button.js') }}';
        import PMessage from '{{ url_for('static', filename='js/components/p-message.js') }}';
        import PModalURL from '{{ url_for('static', filename='js/components/p-modal-url.js') }}';

        createApp({
            setup() {
                onMounted(() => {
                    get_urls();
                });
                const helper = new Helper();
                const globalProps = ref({
                    'helper': new Helper(),
                    'axios': window.axios,
                    'isVisibleZipURLResult': false,
                });
                const messageProps = ref({
                    message: '',
                    type: 'error',
                    isVisible: false
                });
                const urls = ref([]);
                const modalURLProps = ref({
                    'id': 'modalURL',
                    'modalLabel': 'modalURLLabel',
                    'item': {},
                    'isVisible': false,
                });

                const get_urls = () => {
                    window.axios.get('/gw/urls')
                        .then((response) => {
                            urls.value = response.data.rows;
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                }
                const handleClickOpenEditURLModal = (item) => {

                    console.log("CLICK TO OPEN MODAL");
                    console.log(item)
                    modalURLProps.value.item = item;
                    modalURLProps.value.isVisible = true;
                }

                return {
                    helper,
                    messageProps,
                    urls,
                    modalURLProps,
                    get_urls,
                    handleClickOpenEditURLModal
                }
            },
            updated() {
            },
            delimiters: ['${', '}'],
            components: {
                'p-input': PInput,
                'p-button': PButton,
                'p-message': PMessage,
                'p-modal-url': PModalURL
            }
        })
            .mount('#app');
    </script>
{% endblock %}