{% extends '/body.html' %}
{% block content %}
    <div class="container">
        <div class="row w-75 container-center">
            <div class="col">
                <h1 class="text-center mt-5 mb-0 mb-3">Shorten a long URL</h1>
                <div class="toolbox">
                    <div class="row">
                        <p-input :com-props="longURLProps" :global-props="globalProps"></p-input>
                        <div v-if="!globalProps.isVisibleZipURLResult" class="col" v-cloak>
                            <div class="row">
                                <div class="col-4">
                                    <p-input :com-props="domainProps" :global-props="globalProps"></p-input>
                                </div>
                                <div class="col-8">
                                    <p-input :com-props="aliasProps" :global-props="globalProps"></p-input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="!globalProps.isVisibleZipURLResult"  class="row" v-cloak>
                         <div class="col text-center">
                            <p-button :com-props="zipLinkBtn" @button-clicked="handleZipURL"></p-button>
                        </div>
                    </div>
                    <div v-if="globalProps.isVisibleZipURLResult" class="row" v-cloak>
                        <div class="col-md-8 col-sm-12">
                            <p-input :com-props="shortURLProps" :global-props="globalProps"></p-input>
                            <div class="text-center">
                                <button class="btn btn-secondary btn-large mx-2" data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvas-urls-recent" aria-controls="staticBackdrop">
                                    My URLs
                                </button>
                                <p-button :com-props="zipOtherBtn" @button-clicked="handleZipOtherURL"></p-button>
                            </div>
                        </div>
                         <div class="col-md-4">
                            <div class="text-center">
                                <div class="qrcode-box overflow-hidden"><img
                                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUoAAAFKAQAAAABTUiuoAAAB7klEQVR4nO2aTYqzQBCGn/oUZtneIEfRq82Rvhu0R8kNdDnQ8s6iuxMTZiAJaISpWjSm8ixeaMr608SDNv57lARHHXXUUUcd3RK1Ym1+grkF5uoeNhfg6DNoL0maQFLChuxtJEm6RbcR4Ogz6FxDaOxAn11xm1m7jwBHX0H7cwuw1Pff7gIc/d3an5wGTbJ9BDj6AhokRYDxlFCEckhpHwGOPmLrOoJG9NP1qO5ekuLbtTpqd5MnI0z5uDefPB0FNesWs2Fu8/sP5hYb5pLUbNhcgKOPWW6pIo1y8tLUrDqvNfJ2rY5e0MVy8T6eEmanBGPXSDFINuwhwNEHLFcZvRKKQTc2NSWpeZVxRHQ2Y7SWkre4rRiPpfVPojW2pkb0q6cEhBp0nrcOgq6jp59KolIMKf8sf/htHQNdxZZi0KoxzoVhpASd39YB0DonDAmDNgGLMZ6EAVg/dbWBfrtWRzO6mgle5oQ5je0kwNEn0OvuWDp/1AZrbgHvt46HXnbHEL6sjJ9C+gndRoCjz6B1d2xDHhGaMZrlHVe5vMNodfRi46kWhtBI8bpFPp7WP48qshiEhGJI/l3GsdBLBS9gBuvPH4K5Q7C09P+7bQU4+uIsg7w2KfPddcfs3fEx0Pvd8e/mu2NHHXXUUUffj34DmJM0XixOW7QAAAAASUVORK5CYII="
                                        alt="QR Code" class="img-fluid"><a href="https://zipit.link/qrcode/F8mEV"
                                                                           class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover btn-download-qrcode">Download</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="offcanvas offcanvas-end non-user-history-width" data-bs-backdrop="static" tabindex="-1"
                         id="offcanvas-urls-recent" aria-labelledby="staticBackdropLabel">
                        <div class="offcanvas-header"><h5 class="offcanvas-title" id="offcanvasExampleLabel">Your recent
                            URLs</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="row mb-2">
                                <div content="col">
                                    <div class="w-100 text-center">
                                        <div class="spinner-border text-center" role="status"><span
                                                class="visually-hidden">Loading...</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=""></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                    <div id="live_toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header"><strong class="me-auto"></strong><small></small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="module">


const { createApp, ref, onMounted, OnErrorCaptured } = Vue;
import PInput from '{{ url_for('static', filename='js/components/p-input.js') }}';
import PButton from '{{ url_for('static', filename='js/components/p-button.js') }}';
    createApp({
        setup() {
            const long_url = ref('');
            const alias_name = ref('');
            const globalProps= ref({
                'helper': new Helper(),
                'axios': window.axios,
                'isVisibleZipURLResult': false,
            });
            const longURLProps = ref({
                placeHolder: 'Ex: https://yourdomain.com/url-too-long',
                label: 'Paste a long URL',
            });
            const domainProps = ref({
                placeHolder: 'zipit.link',
                label: 'Domain',
                disabled: true
            });
            const aliasProps = ref({
                placeHolder: 'Ex: my-link',
                label: 'Enter a back-half you want (optional)',
            });
            const shortURLProps = ref({
                placeHolder: 'https://zipit.link/your-link',
                label: 'Your shorten URLs',
                disabled: true,
                type: 'inputGroup'
            });
            const zipLinkBtn = ref({
                label: 'Zip Your URL',
                class: 'btn btn-primary',
            });
            const zipOtherBtn = ref({
                label: 'Zip another URL',
                class: 'btn btn-primary',
            });
            const resultURLProps = ref({
                shortURL: '',
                publicID: '0ae33f98de96e08f53bed831c1429723',
                qrcodeImage: '/static/qrcode/0ae33f98de96e08f53bed831c1429723.png',
            });
            const handleZipURL = async () => {
                console.log("CLICKED")
                let payload = {
                    'long_url': longURLProps.value.val,
                    'alias': alias_name.value.val
                }
                window.axios.post('/zip-url', payload)
                    .then((response) => {
                        longURLProps.value.disabled = true;
                        globalProps.value.isVisibleZipURLResult = true;
                        console.log(response.data)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            }
            const handleZipOtherURL = () => {
                globalProps.value.isVisibleZipURLResult = false;
                longURLProps.value.disabled = false;
                aliasProps.value.disabled = false;
                longURLProps.value.val = '';
                aliasProps.value.val = '';
                shortURLProps.value.val = '';
            }
            return {
                long_url,
                alias_name,
                longURLProps,
                domainProps,
                aliasProps,
                zipLinkBtn,
                globalProps,
                shortURLProps,
                resultURLProps,
                zipOtherBtn,
                handleZipURL,
                handleZipOtherURL
            }
        },
        delimiters: ['${', '}'],
        components: {
            'p-input': PInput,
            'p-button': PButton
        }
    })
    .mount('#app');
</script>
{% endblock %}