{% extends '/body.html' %}
{% block content %}
    <div class="container">
        <div class="row w-75 container-center">
            <div class="col">
                <h1 class="text-center pt-5">Shorten a long URL</h1>
                <div class="toolbox">
                    <div class="row">
                        <p-input :com-props="longURLProps" :global-props="globalProps"></p-input>
                        <div class="col">
                            <div class="row">
                                <div class="col-4">
                                    <p-input :com-props="domainProps" :global-props="globalProps"></p-input>
                                </div>
                                <div class="col-8">
                                    <p-input :com-props="aliasProps" :global-props="globalProps"></p-input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <p-button :com-props="zipLinkBtn"></p-button>
                        </div>
                    </div>
                    <div class="offcanvas offcanvas-end non-user-history-width" data-bs-backdrop="static" tabindex="-1"
                         id="offcanvas-urls-recent" aria-labelledby="staticBackdropLabel">
                        <div class="offcanvas-header"><h5 class="offcanvas-title" id="offcanvasExampleLabel">Your recent
                            URLs</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="row mb-2">
                                <div content="col">
                                    <div class="w-100 text-center">
                                        <div class="spinner-border text-center" role="status"><span
                                                class="visually-hidden">Loading...</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=""></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                    <div id="live_toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header"><strong class="me-auto"></strong><small></small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="module">
const { createApp, ref, onMounted, OnErrorCaptured } = Vue;
import PInput from '{{ url_for('static', filename='js/components/p-input.js') }}';
import PButton from '{{ url_for('static', filename='js/components/p-button.js') }}';
    createApp({
        setup() {
            const long_url = ref('');
            const alias_name = ref('');
            const globalProps= ref({
                'helper': new Helper()
            });
            const longURLProps = ref({
                placeHolder: 'Ex: https://yourdomain.com/url-too-long',
                label: 'Paste a long URL',
            });
            const domainProps = ref({
                placeHolder: 'zipit.link',
                label: 'Domain',
                disabled: true
            });
            const aliasProps = ref({
                placeHolder: 'Ex: my-link',
                label: 'Enter a back-half you want (optional)',
            });
            const zipLinkBtn = ref({
                label: 'Zip Your URL',
                class: 'btn btn-primary',
            });
            return {
                long_url,
                alias_name,
                longURLProps,
                domainProps,
                aliasProps,
                zipLinkBtn,
                globalProps
            }
        },
        delimiters: ['${', '}'],
        components: {
            'p-input': PInput,
            'p-button': PButton
        }
    })
    .mount('#app');
</script>
{% endblock %}