{% extends '/body.html' %}
{% block content %}
    <div class="container tou-wrap">
        <div class="row mt-5">
            <div class="col">
                <h2 class="text-center">ZIPIT.LINK PRIVACY POLICY</h2>
                <p>
                    Information Security and Data Privacy Policy of ZIPIT.LINK</p>

                <h3>WHO WE ARE AND WHAT IS ZIPIT.LINK</h3>
                <p>ZIPIT.LINK is the manufacturer and owner of ZIPIT.LINK (referred to collectively as "Software" or
                    "Service" by us). ZIPIT.LINK is a software for creating and managing online links, supporting
                    various features related to links, affiliate links, shorten links etc.</p>

                <p>ZIPIT.LINK respects and commits to protecting your privacy.
                    This privacy policy applies to all ZIPIT.LINK products and services provided. Please read this
                    privacy policy carefully to understand the commitments we make to respect and protect your rights.

                </p>

                <h3>LOGIN SECURITY</h3>
                <p>
                    Directly log into ZIPIT.LINK with your email and password. ZIPIT.LINK requires a minimum of 8
                    characters for passwords. Unsuccessful login attempts will trigger a 30-second lockout period before
                    users can retry. Passwords are stored as hashes and will never be sent via email—when creating an
                    account and resetting a password, ZIPIT.LINK will send a link to the email associated with the
                    account to allow users to create a new password.
                </p>
                <p>
                    The complexity of passwords and session length requirements cannot be customized in the application.
                    However, they can be set in the IdP for the SSO execution group.
                </p>
                <h3>HOW WE COLLECT INFORMATION</h3>
                <p>
                    We collect information in two ways: Information we receive from your use of our Service and
                    information you provide directly to us.

                    The information we receive from your use of the services is primarily non-personally identifiable
                    information such as: web browser type, server used, preferred language, queries, timestamps of each
                    access, etc.
                </p>
                <p>

                    We collect non-personally identifiable information to better understand how customers use the
                    services and, if possible, to improve your experience. For example, we collect the time it takes to
                    run login database queries so that we can improve performance.
                </p>
                <p>
                    The information you directly provide to us: The quantity and type of information provided depend on
                    the nature of the interaction. For example, we require customers registering for our services to
                    provide their full name, username, and email address.
                </p>
                <p>Organizations and individuals participating in
                    financial transactions to purchase paid services are required to provide additional information,
                    such as personal and financial information necessary to process transactions. In each case, we only
                    collect the necessary information for the types of interactions.
                </p>
                <h3>HOW WE USE COLLECTED INFORMATION</h3>
                <ol>
                    <li>In case you register an account at ZIPIT.LINK, we may ask you to provide personal information
                        such as your full name and email address. We will use that personal information to support the
                        provision of services to you, such as sending notifications about new updates to the service or
                        sending you information about promotional programs, advertising activities related to products
                        and services. We commit not to use it for any other purposes.
                    </li>
                    <li>By using the service, you agree to the use of cookies, access information, and images to operate
                        the service, modify personal information and content; store information on your device to save
                        time by reducing the hassle of continuously entering similar information, to display
                        personalized content, or to store and reappear relevant advertising information for your next
                        visit to the website.
                    </li>
                    <li>ZIPIT.LINK commits not to exchange or sell your personal data to third parties. We do not share
                        your personal information, except for the obligation to disclose information to third parties on
                        legal matters, such as complying with a court order or similar legal process, when both parties
                        trust in good faith that disclosure is necessary to protect the rights of ZIPIT.LINK, safeguard
                        your safety and that of those around you, investigate fraud, or respond to government requests.
                    </li>
                    <li>We may share generalized aggregated information with third parties, information that does not
                        belong to your personal data.
                    </li>
                    <li>In the event that ZIPIT.LINK merges, acquires, or transacts a part or all of its assets with
                        another party, we will notify you before transferring your personal information and apply a
                        different privacy policy.
                    </li>
                    <li>During our support process, we may access personal information related to your account. If this
                        happens, we will always request your explicit permission.
                    </li>
                </ol>
                <p>We always welcome your feedback, contacts, and responses regarding this "Privacy Policy." If you have
                    any related concerns, please email us at hello@zipit.link
                </p></div>

        </div>
    </div>
{% endblock %}