<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/header.html' with context %}
</head>
<body id="app">
<header class="p-1 text-zt-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="/" class="nav-link px-2 text-white text-logo">ZIPIT</a>
                </li>
                <li><a href="/features" class="nav-link px-2 text-white d-none">Features</a></li>
                <li><a href="/faqs" class="nav-link px-2 text-white d-none">FAQs</a></li>
                <li><a href="/about" class="nav-link px-2 text-white d-none">About </a></li>
            </ul>

            <div class="text-end">
                <span class="btn btn-link text-white link-underline d-none">Login</span>
                {% if 'user' not in session %}
                <button type="button" class="btn bg-primary-300 text-white d-none">Sign-up</button>
                <a class="btn bg-primary-300 text-white me-2" href="/signup">Signup</a>
                <a class="btn bg-primary-300 text-white me-2" href="/login">Login</a>
                {% endif %}
                {% if 'user' in session %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 account-menu">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle btn bg-primary-300 text-white px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Howdy <i class="fa-solid fa-user"></i>
                          </a>
                          <ul class="dropdown-menu">
                            <li class="d-none"><a class="dropdown-item" href="#">Profile</a></li>
                            <li class="d-none"><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                          </ul>
                        </li>
                      </ul>
                {% endif %}

            </div>
        </div>
    </div>
</header>
{% block content %} {% endblock %}
{% include '/footer.html' with context %}
</body>
</html>
